<div class="block" id="block-text">  
  <div class="content">
    <h2 class="title"><%= subtitle %></h2>
    <div class="inner">
      <p class="first">
		<%= yield :block_content %>
      </p>
    </div>
  </div>
</div>