<div id="dish_index">
	<div class="toolbar">
		<%= link_to 'Back', nil, :class => "back" %>
		<h1><%= t(:dish)  %> </h1>
	</div>

	<ul class="rounded">
	<% @dishes.each_with_index do |dish, i| %>
		<li class="arrow"><%= link_to dish.name, dish_path(dish), :remote => true %></li>
	<% end %>
	</ul>

</div>